*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.history/
.sass-cache/
.versions/
node_modules/
coverage/

# submodule packages

/screenshot/index.js
/screenshot/package.json
/screenshot/pixel-match.js
/screenshot/*.d.ts

test/**/www/*
test/**/hydrate/*
.stencil
